:root {
    --color-white: #ffffff;
    --color-white-opacity: rgba(255, 255, 255, 0.7);
    --color-background-primary: #090909;
    --color-background-secondary: #1b1b1b;
    --color-background-tertiary: #999a9c;
    --color-bright: #dc296c;

    /* @media for screen size */

    --width-XS: 576px;
    --width-S: 768px;
    --width-M: 992px;
    --width-L: 1200px;
}

/* Burger menu. Mobile-width only */



