:root {
    --color-white: #ffffff;
    --color-white-opacity: rgba(255, 255, 255, 0.7);
    --color-background-primary: #1b1b1b;
    --color-background-secondary: #1a1b1e;
    --color-background-tertiary: #999a9c;
    --color-element: #dc296c;

    /* @media for screen size */

    --width-XS: 576px;
    --width-S: 768px;
    --width-M: 992px;
    --width-L: 1200px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    font-size: 14px;
    line-height: 22px;
    font-family: "StemText", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--color-background-primary);
    color: var(--color-white);
}

a {
    text-decoration: none;
    color: var(--color-white);
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.heading-2 {
    font-size: 28px;
    line-height: 36px;
}

.heading-3 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
}

.text-md {
    font-size: 16px;
    line-height: 26px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__text {
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-white-opacity)
}

.intro {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 26px;
}

.header {
    position: relative;
    width: auto;
    padding: 0 20px;
}

.header__logo {
    width: 110px;
    padding: 13px 20px;
    background-color: var(--color-element);
}

.header__company-name {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav {
    position: relative;
    width: auto;
}

.nav__toggle {
    position: absolute;
    left: 310px;
    top: -37px;
    display: block;
    width: 24px;
    height: 27px;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.nav--closed .nav__toggle::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: var(--color-white);
    box-shadow: 0 5px 0 0 var(--color-white), 0 10px 0 0 var(--color-white);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav--opened .nav__toggle {
    left: 310px;
    top: -37px;
}

.nav--opened .nav__toggle::before,
.nav--opened .nav__toggle::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    width: 20px;
    height: 2px;
    background-color: var(--color-white);
}

.nav--opened .nav__toggle::before {
    transform: rotate(43deg);
    box-shadow: none;
}

.nav--opened .nav__toggle::after {
    transform: rotate(-43deg);
}

.nav--closed .menu__item {
    display: none;
}

.nav--opened .menu__item {
    display: block;
}

.menu {
    margin: 0 auto;
    padding: 0;
}

.menu__item {
    padding: 10px 0;
    text-align: left;
    list-style: none;
}

.menu__link {
    display: block;
    margin: 0 auto;
}

.menu__text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: var(--color-white);
}

.menu.menu--opened {
    padding-top: 10px;
}

.menu__item.menu__item--industries {
    display: none;
}

.about-us {
    margin: 140px 0;
    padding: 0 20px;
}

.about-us__heading {
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.about-us__text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.our-experience {
    padding: 0 20px;
}

.our-experience__heading {
    margin-bottom: 40px;
}

.our-experience__item .list__text {
    color: var(--color-white);
}

.values {
    min-height: 773px;
    padding-top: 40px;
    background-color: var(--color-background-tertiary);
    background-image: url("../img/our-values.png");
    background-position-y: 120px;
    background-repeat: no-repeat;
}

.blockquote__text {
    margin: 0;
    margin-bottom: 20px;
}

.crew {
    margin-top: 40px;
    padding: 0 20px;
}

.crew__list {
    display: flex;
    flex-wrap: wrap;
}

.crew__member {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
}

.crew__role,
.crew__name {
    display: block;
    margin: 0;
    padding: 0;
    width: 148px;
}

.crew__role {
    color: var(--color-white-opacity);
}

.work-process {
    padding: 0 20px;
}

.impressions {
    background-color: var(--color-background-secondary);
}


.impressions__list {
    margin: 0;
    padding: 0;
    padding-top: 138px;
    list-style: none;
}

.impressions__item {
    padding-bottom: 60px;
}

.impressions__client-img {
    margin-left: 18px;
    border-radius: 50%;
}

.impressions__quote {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 15px;
}

.impressions__note {
    padding-left: 20px;
    padding-right: 15px;
    color: var(--color-white-opacity);
}

.expertise {
    padding: 0 20px;
}

.expertise__item {
    position: relative;
    padding-top: 75px;
}

.expertise__item::before,
.expertise__item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-radius: 50%;
}

.expertise__item::before {
    width: 51.63px;
    height: 51.63px;
}

.expertise__item--1::before {
    background: linear-gradient(286.81deg, #F053C6 16.62%, #DD2A6F 89.5%, #DC296C 111.88%);
}

.expertise__item--1::after {
    top: 7px;
    left: 7px;
    width: 37.63px;
    height: 37.63px;
    background: black;
}

.expertise__item--2::before {
    width: 47.63px;
    height: 47.63px;
    background: #4DE297;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.expertise__item--2::after {
    top: -2px;
    left: 26px;
    width: 23.63px;
    height: 23.63px;
    background: #4DE297;
}

.expertise__item--3::before {
    background: #457EC3;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.expertise__item--3::after {
    top: 9px;
    left: 7px;
    width: 27.63px;
    height: 27.63px;

    background: linear-gradient(134.72deg, #8074F2 3.48%, #3C90EC 96.37%);
}

.expertise__item--4::before {
    background: #457EC3;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.expertise__item--4::after {
    top: 12px;
    left: 12px;
    width: 27.63px;
    height: 27.63px;

    background: #457EC3;
}

.expertise__item--5::before {
    background: linear-gradient(180deg, #F2D874 0%, rgba(236, 153, 60, 0.695199) 100%);
    mix-blend-mode: normal;
    opacity: 0.35;
}

.offices {
    padding: 0 20px;
}

.offices__list {
    list-style: none;
    ;
}

.office__img {
    border-radius: 50%;
}


.office__item--pseudo {
    padding-top: 80px;
}  

.office__item--pseudo .office__img {
    position: relative;
    display: block;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFF732 4.4%, #FAE837 103.58%);
    width: 87.13px;
    height: 87.13px;
    font-size: 0;
}

.office__item--pseudo .office__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87.13px;
    height: 44px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0; 
    background: linear-gradient(180deg, #53A7F0 4.05%, #3758FA 102.04%)
}
