:root {
    --color-white: #ffffff;
    --color-white-opacity: rgba(255, 255, 255, 0.7);
    --color-background-primary: #090909;
    --color-background-secondary: #1b1b1b;
    --color-background-tertiary: #999a9c;
    --color-bright: #dc296c;

    /* @media for screen size */

    --width-XS: 576px;
    --width-S: 768px;
    --width-M: 992px;
    --width-L: 1200px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-width: 375px;
    font-size: 14px;
    line-height: 22px;
    font-family: "StemText", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--color-background-primary);
    color: var(--color-white);
}

a {
    text-decoration: none;
    color: var(--color-white);
}


.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.heading-2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 36px;
}

.heading-3 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
}

.text-md {
    font-size: 16px;
    line-height: 26px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__text {
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-white-opacity);
}

.intro {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 26px;
}

.section {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    position: relative;
    width: auto;
    padding: 0 20px;
}

.header__logo {
    width: 110px;
    padding: 13px 20px;
    background-color: var(--color-bright);
}

.header__company-name {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav {
    width: auto;
}

.nav__toggle {
    position: absolute;
    right: 20px;
    top: 10px;
    display: block;
    width: 24px;
    height: 27px;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.nav--closed .nav__toggle::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: var(--color-white);
    box-shadow: 0 5px 0 0 var(--color-white), 0 10px 0 0 var(--color-white);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav--opened .nav__toggle::before,
.nav--opened .nav__toggle::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    width: 20px;
    height: 2px;
    background-color: var(--color-white);
}

.nav--opened .nav__toggle::before {
    transform: rotate(43deg);
    box-shadow: none;
}

.nav--opened .nav__toggle::after {
    transform: rotate(-43deg);
}

.menu {
    margin: 0 auto;
    padding: 0;
}

.menu__item {
    padding: 10px 0;
    text-align: left;
    list-style: none;
}

.menu__item a {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.menu__text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.7px;
    color: var(--color-white);
}

.menu.menu--opened {
    padding-top: 10px;
}

.menu__item.menu__item--industries {
    display: none;
}

.about-us {
    margin: 140px 0;
}

.about-us__heading {
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.about-us__text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.our-experience {
    padding: 0 20px;
}

.our-experience__heading {
    margin-bottom: 40px;
}

.our-experience__item .list__text {
    color: var(--color-white);
}

.values {
    min-height: 773px;
    padding-top: 40px;
    background-color: var(--color-background-tertiary);
    background-image: url("../img/our-values.jpg");
    background-position-y: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blockquote {
    margin: 0;

}

.blockquote__text {
    margin: 0;
    margin-bottom: 20px;
}

.crew {
    margin-top: 40px;
    margin-bottom: 60px;
}

.grid__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.grid__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.crew__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.crew__member {
    padding-bottom: 20px;
}

.crew__image {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.crew__member-role,
.crew__member-name {
    display: block;
    margin: 0;
    padding: 0;
    width: 148px;
}

.crew__member-role {
    color: var(--color-white-opacity);
}

.work-process {
    padding: 0 20px;
}

.carousel {
    position: relative;
    height: 640px;
    padding-top: 40px;
    background-color: var(--color-background-secondary);
}

.carousel__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.carousel__indicator {
    margin-right: 16px;
    width: 20px;
    height: 20px;
    opacity: 0.2;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    background-color: transparent;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background-color: var(--color-white);
    opacity: 1;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.impressions__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.impressions__item {
    padding-top: 70px;
    padding-bottom: 60px;
}

.impressions__client-img {
    margin-bottom: 20px;
    border-radius: 50%;
}

.impressions__quote {
    margin: 0;
    padding: 0;
}

.impressions__note {
    padding-right: 15px;
    color: var(--color-white-opacity);
}

.expertise {
    margin: 60px 0;
    padding: 0 20px;
}

.expertise__item {
    position: relative;
    padding-top: 75px;
}

.expertise__item::before,
.expertise__item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-radius: 50%;
}

.expertise__item::before {
    width: 51.63px;
    height: 51.63px;
}

.expertise__item--1::before {
    background: linear-gradient(286.81deg, #F053C6 16.62%, #DD2A6F 89.5%, #DC296C 111.88%);
}

.expertise__item--1::after {
    top: 7px;
    left: 7px;
    width: 37.63px;
    height: 37.63px;
    background: black;
}

.expertise__item--2::before {
    width: 47.63px;
    height: 47.63px;
    background: #4DE297;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.expertise__item--2::after {
    top: -2px;
    left: 26px;
    width: 23.63px;
    height: 23.63px;
    background: #4DE297;
}

.expertise__item--3::before {
    top: -5px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 0;
    background-image: url("../img/expertise-3-top.svg");
    background-repeat: no-repeat;
}

.expertise__item--3::after {
    top: 22px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
    background-image: url("../img/expertise-3-bottom.svg");
    background-repeat: no-repeat;
}

.expertise__item--4::before {
    background: #457EC3;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.expertise__item--4::after {
    top: 12px;
    left: 12px;
    width: 27.63px;
    height: 27.63px;

    background: #457EC3;
}

.expertise__item--5 {
    background-image: url("../img/expertise-5-cylinder.svg");
    background-repeat: no-repeat;
}

.offices {
    text-align: center;
}

.offices__intro {
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 26px;
}

.offices__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.offices__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 65px;
}

.office__img {
    display: block;
    border-radius: 50%;
    margin: 0 auto 19px;
}

.office__center {
    display: block;
    margin-bottom: 0;
}

.footer {
    padding: 0 20px;
}

.footer,
.footer a {
    color: #BCBCBC;
}


.footer__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 16px;
}

.footer__nav-left,
.footer__nav-right {
    margin: 0;
    padding: 0;
    list-style: none;
}


.footer__nav-item {
    width: 130px;
}

.footer__facilities-list {
    width: 117px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.footer__social-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}

.footer__social-item {
    display: inline-block;
    vertical-align: middle;
}

.footer__lang a {
    color: var(--color-white-opacity);
}

.footer__copyright {
    margin: 0;
    margin-bottom: 60px;
    font-size: 12px;
    line-height: 18px;
    color: #82919A;
}

@media (min-width: 575.98px) {
    .section {
        padding-left: calc(50vw - 270px);
        padding-right: calc(50vw - 270px);
    }

    .nav__toggle {
        right: calc(50vw - 270px);
    }

    .values {
        background-position-y: -100px;
    }
}

/* Burger menu. Mobile-width only */

@media (max-width: 767px) {
    .nav--closed .menu__item {
        display: none;
    }

    .nav--opened .menu__item {
        display: block;
    }
}

@media (min-width: 767.98px) {
    .section {
        padding-left: calc(50vw - 360px);
        padding-right: calc(50vw - 360px);
    }

    .nav__toggle {
        display: none;
    }

    .nav .nav__toggle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .menu__item--3,
    .menu__item--5,
    .menu__text-add {
        display: none;
    }

    .menu__item--pink-btn {
        padding: 10px 14px;
        border-radius: 4px;
        background-color: var(--color-bright);
    }

    .about-us {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .our-experience__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .our-experience__item {
        max-width: 30%;
    }

    .values {
        background-image: url("../img/our-values-tablet.jpg");
        background-position: -180px 0;
    }

    .values__blockquote {
        width: 40%;
        margin-left: 60%;
        margin-top: 50px;
    }

    .blockquote__string {
        margin-bottom: 5px;
    }

    .crew {
        margin-top: 60px;
    }

    .grid__item {
        max-width: 33%;
    }

}

@media (min-width: 991.98px) {
    .section {
        padding-left: calc(50vw - 480px);
        padding-right: calc(50vw - 480px);
    }
}

@media (min-width: 1199.98px) {
    .section {
        padding-left: calc(50vw - 590px);
        padding-right: calc(50vw - 590px);
    }
}