.container {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: $width-xs) {
    .container {
        padding-left: calc(50vw - 270px);
        padding-right: calc(50vw - 270px);
    }
}

@media (min-width: $width-sm) {
    .container {
        padding-left: calc(50vw - 340px);
        padding-right: calc(50vw - 340px);
    }
}

@media (min-width: $width-md) {
    .container {
        padding-left: calc(50vw - 480px);
        padding-right: calc(50vw - 480px);
    }
}

@media (min-width: $width-lg) {
    .container {
        padding-left: calc(50vw - 590px);
        padding-right: calc(50vw - 590px);
    }
}