.footer {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    order: -2;
}

.footer__nav-left,
.footer__nav-right,
.footer__facilities-list,
.footer__social-list
 {
    @include list-reset();
}

.footer__nav-item {
    width: 130px;
}

.footer__facilities-list {
    width: 117px;
    margin-bottom: 40px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.footer__social-item {
    margin-right: 13%;
}

.footer__lang {
    order: -1;
}

.footer__copyright {
    margin: 0;
    margin-bottom: 60px;
}

.footer__award {
    display: none;
}

@media (min-width: $width-sm) {
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__nav {
        width: 40%;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__facilities-list {
        width: 12%;
        margin-right: auto;
        margin-bottom: 0;
    }

    .footer__nav-item,
    .footer__facilities-item {
        padding-bottom: 10px;
    }

    .footer__social-copyright-block {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .footer__social-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .footer__social-item {
        margin: 0;
    }

    .footer__award {
        display: block;
        padding-left: 10px;
    }

    .footer__copyright {
        margin-bottom: 0;
    }

    .footer__lang {
        order: 0;
        width: 100%;
    }
}

@media (min-width: $width-md) {
    .footer__nav {
        width: 35%;
    }

    .footer__facilities-list {
        width: 20%;
        margin: 0 auto;
    }
}