.grid__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.grid__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

@media (min-width: $width-sm) {
    .grid__item {
        max-width: 25%;
    }
}