
.header {
    position: relative;
    width: auto;
}

.header__logo {
    width: 110px;
    padding: 13px 20px;
    background-color: var(--color-bright);
}

.header__company-name {
    text-transform: uppercase;
    letter-spacing: 2px;
}