.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.header__block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 110px;
    padding: 9px 0 21px;
    cursor: pointer;
}

.header__logo-icon {
    display: none;
}

.header__logo-name {
    margin-top: 12px;
}

@media (min-width: $width-sm) {
    .header__logo-block {
        transition: all 0.6s;
    }

    .header__logo-icon {
        display: block;
    }
}

@media (min-width: $width-lg) {
    .header__logo-block {
        padding: 84px 20px 23px;
    }
}