.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    border: 2px solid white;
    // transition: all 0.4s;
}

.header__block {
    position: relative;
    width: auto;
}

.header__logo {
    display: block;
    width: 110px;
    padding: 13px 20px;
    cursor: pointer;
}

.header__logo-icon {
    display: none;
}

@media (min-width: $width-sm) {
    .header__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .header__logo-icon {
        margin: 0 auto;
        display: block;
    }

    .header__logo {
        display: block;
        width: 110px;
        padding: 13px 20px;
    }

}

@media (min-width: $width-lg) {
    .header__logo {
        width: 110px;
        padding: 60px 20px 13px;
    }
}