.nav {
    width: auto;
}

.nav__toggle {
    @include indents();
    position: absolute;
    right: 20px;
    top: 15px;
    display: block;
    width: 24px;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.nav--closed .nav__toggle::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 1px;
    box-shadow: 0 6px 0 0, 0 12px 0 0;
}

.nav__list {
    @include list-reset();
}

.nav--opened .nav__toggle::before,
.nav--opened .nav__toggle::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 1px;
    width: 20px;
    height: 2px;
}

.nav--opened .nav__toggle::before {
    transform: rotate(43deg);
    box-shadow: none;
}

.nav--opened .nav__toggle::after {
    transform: rotate(-43deg);
}

@media (min-width: $width-xs) {
    .nav__toggle {
        right: calc(50vw - 270px);
    }
}

@media (max-width: $width-sm-only) {
    .nav--closed .menu {
        display: none;
    }

    .nav--opened .menu {
        display: block;
    }
}

@media (min-width: $width-sm) {
    .nav {
        @include indents();
        width: 80%;
    }

    .nav__toggle {
        display: none;
    }
}

@media (min-width: $width-lg) {
    .nav {
        @include indents();
        margin-top: 35px;
        width: 67%;
    }
}