.about-us {
    margin: 140px 0 120px;
}

.about-us__heading {
    margin: 0 auto;
    padding-bottom: 20px;
}

.about-us__text {
    margin: 0 auto;
    width: 95%;
}

@media (min-width: $width-sm) {
    .about-us {
        margin-left: auto;
        margin-right: auto;
    }

    .about-us__heading {
        padding-bottom: 40px;
    }
}

@media (min-width: $width-md) {
    .about-us {
        width: 80%;
    }
}

@media (min-width: $width-lg) {}