.carousel.container {
    position: relative;
    height: 640px;
    padding-top: 40px;
}

.carousel__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.carousel__indicator {
    margin-right: 16px;
    width: 20px;
    height: 20px;
    opacity: 0.2;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}

.carousel__track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel__track {
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: $width-lg) {
    .carousel.container {
        position: relative;
        height: 840px;
        padding-top: 60px;
    }

    .carousel__indicator {
        width: 29px;
        height: 29px;
    }
}