.crew {
    margin-top: 40px;
    margin-bottom: 60px;
}

.crew__member {
    padding-bottom: 20px;
}

.crew__image {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.crew__member-role,
.crew__member-name {
    @include indents();
    display: block;
    width: 148px;
}

.crew__member-role {
    color: var(--color-white-opacity);
}

@media (min-width: 767.98px) {
    .crew {
        margin-top: 60px;
        margin-bottom: 80px;
    }
}