.expertise {
    margin: 60px 0;
    padding: 0 20px;
}

.expertise__heading {
    width: 80%;
}

.expertise__list {
    @include list-reset();
}

.expertise__item {
    position: relative;
    margin-bottom: 40px;
    padding-top: 75px;
}

.expertise__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 51.63px;
    height: 51.63px;
}

.expertise__item--1::before {
    background-image: url("../img/expertise-1.svg");
    background-repeat: no-repeat;
}

.expertise__item--2::before {
    width: 51px;
    height: 49px;
    background-image: url("../img/expertise-2.svg");
    background-repeat: no-repeat;
}

.expertise__item--3::before {
    width: 61px;
    height: 57px;
    background-image: url("../img/expertise-3.svg");
    background-repeat: no-repeat;
}

.expertise__item--4::before {
    background-image: url("../img/expertise-4.svg");
    background-repeat: no-repeat;
}

.expertise__item--5 {
    background-image: url("../img/expertise-5.svg");
    background-repeat: no-repeat;
}

@media (min-width: $width-sm) {
    .expertise {
        margin: 80px 0;
    }

    .expertise__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .expertise__item {
        flex: 0 0 50%;
        max-width: 45%;
        padding-top: 0;
        padding-left: 100px;
    }

    .expertise__item--2 {
        order: 2;
    }

    .expertise__item--3 {
        order: 4;
    }

    .expertise__item--4 {
        order: 1;
    }

    .expertise__item--5 {
        order: 3;
    }
}