.intro {
    @include indents();
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (min-width: $width-sm) {
    .intro {
        margin-bottom: 80px;
    }
}

@media (min-width: $width-md) {
    .intro {
        width: 60%;
    }
}