.intro {
    @include indents();
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (min-width: 767.98px) {
    .intro {
        margin-bottom: 80px;
    }
}

@media (min-width: 991.98px) {
    .intro {
        width: 60%;
    }
}