.intro {
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (min-width: $width-sm) {
    .intro {
        margin-top: 30px;
        margin-bottom: 70px;
    }
}

@media (min-width: $width-md) {
    .intro {
        width: 60%;
    }
}