.menu {
    @include list-reset();
    margin: 0 auto 40px;
}

.menu__item {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu__link{
    display: block;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
}

.menu.menu--opened {
    padding-top: 10px;
}

.menu__item--8 {
    display: none;
}

@media (min-width: 767.98px) {
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .menu__item {
        border: none;
    }

    .menu__item--3,
    .menu__item--5,
    .menu__text-add {
        display: none;
    }

    .menu__item.menu__item--bright {
        position: absolute;
        top: 10px;
        right: calc(50vw - 340px);
    }

    .menu__item--bright a {
        margin-left: auto;
        padding: 10px 14px;
        border-radius: 4px;
    }
}

@media (min-width: 991.98px) {
    .menu__item {
        margin-right: 30px;
    }
}

@media (min-width: 1199.98px) {

}