.menu {
    @include list-reset();
    margin: 0 auto 40px;
}

.menu__item {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu__link{
    display: block;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
}

.menu.menu--opened {
    padding-top: 10px;
}

.menu__item--8 {
    display: none;
}

@media (min-width: 767.98px) {
    .menu {
        @include indents();
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 20px;
    }

    .menu__item {
        @include list-reset();
        border: none;
    }

    .menu__item--3,
    .menu__item--5,
    .menu__text-add {
        display: none;
    }

    .menu__item--bright a {
        margin-left: auto;
        padding: 10px 14px;
        border-radius: 4px;
    }
}

@media (min-width: $width-md) {
    .menu__item {
        margin-right: 30px;
    }

    .menu__text-add {
        display: inline;
    }
}

@media (min-width: $width-lg) {

}