.our-experience__heading {
    margin-bottom: 35px;
}

.our-experience__item {
    margin-bottom: 40px;
}

.our-experience__item h3 {
    margin-bottom: 20px;
}

@media (min-width: $width-sm) {
    .our-experience__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .our-experience__item {
        max-width: 30%;
    }
}

@media (min-width: $width-lg) {
    .our-experience__heading {
        margin-bottom: 40px;
    }
}

