.work-process {
    @include indents();
    padding: 0 20px;
}

.work-process__list {
    @include list-reset();
}

@media (min-width: $width-sm) {
    .work-process__intro {
        width: 62%;
    }

    .work-process__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .work-process__item {
        width: 31%;
    }
}
