html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // border: 1px solid red;
}

body {
  @include indents();
  box-sizing: border-box;
}

a {
  @include link-reset;
}

h1,
h2,
h3,
p,
span,
li,
blockquote {
  @include indents();
}

ul {
  @include list-reset();
}
