.typo {
    font-size: 14px;
    line-height: 22px;
    font-family: "StemText", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.typo__logo {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.typo__heading-main {
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
    text-align: center;
}

.typo__heading-2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 800;
}

.typo__heading-3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
}

.typo__text {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

@media (min-width: 767.98px) {
    .typo {
        font-size: 16px;
        line-height: 24px;
    }

    .typo__heading-main {
        font-size: 40px;
        line-height: 48px;
    }

    .typo__heading-2 {
        font-size: 30px;
        line-height: 40px;
    }

    .typo__heading-3 {
        font-size: 22px;
        line-height: 34px;
    }

    .typo__text {
        font-size: 18px;
        line-height: 28px;
        text-align: left;
    }
}

@media (min-width: 1199.98px) {
    .typo__heading-main {
        font-size: 56px;
        line-height: 64px;
    }

    .typo__intro-text {
        font-size: 22px;
        line-height: 34px;
    }
}