@media (max-width: $width-sm-only) {
  .js .nav__toggle {
    display: block;
  }

  .no-js .header {
    position: relative;
  }

  .no-js .nav__toggle {
    display: none;
  }

  .no-js ul.menu {
    display: block;
    height: 100%;
  }

  .no-js .carousel__nav {
    display: none;
  }

  .no-js .carousel.container {
    @include indents();
    height: auto;
  }

  .no-js .carousel__track-container {
    padding: 0 20px;
  }

  .no-js .carousel__slide {
    position: unset;
    padding: 20px 0;
  }
}

@media (min-width: $width-sm) {
  .no-js .carousel__nav {
    display: none;
  }

  .no-js .carousel.container {
    height: auto;
  }

  .no-js .carousel__slide {
    position: unset;
    padding: 50px 0 30px;
  }
  .no-js .impressions__text-block {
    width: 75%;
  }
}